* {
  box-sizing: border-box;
}

body {
  background: #eee;
  margin: 2em;
  .controls{
    text-align: center;
    margin: 0 auto 1em;
    button {
      background: rgba(142, 241, 192, .5);
      color: #fff;
      font: 900 2em/1.2 sans-serif;
      text-shadow: 0 0 10px rgba(0, 0, 0, .1);
      padding: 10px;
      border-radius: 10px;
      outline: none;
      cursor: pointer;
    }
  }
  .card-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    .card{
      width: 100px;
      line-height: 50px;
      background: #ffdc00;
      text-align: center;
      border-radius: 5px;
      margin: .5em;
      flex: 1 1 auto;
    }
  }
}
